a.brand-logo{
	padding-left: 1em;
}

nav ul.left li:first-child{
	padding-left: 15em;
}

body{
	background-color: #f2f2f2;
}

div.container{
	width: 90%;	
	margin-top: 1em;
}

div .card{
	display: inline-block;
	width: 15em;
}

div.section h5.section-title{
	color: #ee6e73;
}

.product{
	margin: 1em;
}

.product .card-image{
	height: 15em;
	width: 15em;
	margin: 0 auto;
}

div .product .content{
	text-align: left;
	padding: 0.5em;
}

div .product .content span.product-title{
	font-size: 1em;
	text-align: left;
	display: block;
}

div .product .content span.product-price{
	font-size: 0.8em;
	display: block;
	color: #a31c48;
}

.modal {
	width: 85%;
}

div.modal .breadcrumb-steps{
	background-color: #ee6e73;
	padding: 1em;
}

div#modal-buy-product .shipped-product{
	margin-bottom: 3em;

#modal-ulas .range-field {
	padding-top: 1em;
}
